@charset 'utf-8';

@mixin setDeleteStyle(
    $name: '',
    $color: $del-color,
    $invert-bgc: ''
) {
    .v-del#{$name} {
        &:before,
        &:after {
            border-color: $color;
        }
    }

    .v-del#{$name}.v-invert {
        @if ($invert-bgc == '') {
            background-color: rgba($color, .35);
        }
        @else {
            background-color: $invert-bgc;
        }
    }
}

@mixin setDeleteSize(
    $name: '',
    $size: 0
) {
    .v-del#{$name} {
        height: $size;

        &,
        &:before,
        &:after {
            width: $size;
        }
    }
    
    .v-del#{$name}.v-invert {
        &:before,
        &:after {
            width: $size * $del-invert-zoom;
        }
    }
}