@charset 'utf-8';

@mixin setDeleteStyle(
    $name: '',
    $color: $del-color,
    $bgc: '',
    $flag: 1 // Internal use
) {
    .v-del#{$name}:not(.v-invert) {
        &:before,
        &:after {
            border-color: $color;
        }
    }

    @if ($flag == 1) {
        .v-del#{$name}.v-invert {
            @if ($bgc != '') {
                background-color: $bgc;
            }
            @else {
                background-color: rgba($color, .7);
            }
        }
    }
}

@mixin setDeleteSize(
    $name: '',
    $size: 0
) {
    .v-del#{$name} {
        height: $size;

        &,
        &:before,
        &:after {
            width: $size;
        }
    }
    
    .v-del#{$name}.v-invert {
        &:before,
        &:after {
            width: $size * $del-invert-zoom;
        }
    }
}