@charset 'utf-8';

.v-del {
    @extend .v-relative;
    @extend .v-circle;
    @extend .v-inline-block;
    @extend .v-del.v-normal-size;

    transition: opacity .1s;
    border: none;
    cursor: pointer;

    &:hover {
        @extend .v-opacity-8;
    }

    &:active {
        @extend .v-opacity-6;
    }
    
    &:before,
    &:after {
        @extend .v-absolute;

        content: '';
        height: 0;
        border: solid 1px;
        left: 50%;
        top: 50%;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
