@charset 'utf-8';

.v-del {
    @extend .v-relative;
    @extend .v-inline-block;
    @extend .v-circle;
    @extend .v-del.v-normal-size;

    transition: opacity .1s;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        @extend .v-opacity-8;
    }

    &:before,
    &:after {
        @extend .v-absolute;

        content: '';
        height: 0;
        border: solid 1px;
        left: 50%;
        top: 50%;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &.v-invert {
        &:before,
        &:after {
            border-color: $color-white;
        }
    }
}
