@charset 'utf-8';

@mixin setDeleteStyle(
    $name: '',
    $color: $del-color
) {
    .delete#{$name} {
        &:before,
        &:after {
            border-color: $color;
        }
    }

    .badge >.delete#{$name},
    .badge > .delete#{$name}.v-invert {
        &:before,
        &:after {
            border-color: #fff;
        }
    }

    .delete#{$name}.v-invert {
        background-color: $color;

        &:before,
        &:after {
            border-color: lighten($color, 50%);
        }
    }

    .badge#{$name} > .delete.v-invert {
        background-color: lighten($color, 15%);
    }
}

@mixin setDeleteSize(
    $name: '',
    $size: ''
) {
    .delete#{$name} {
        height: $size;

        &,
        &:before,
        &:after {
            width: $size;
        }
    }
    
    .delete#{$name}.v-invert {
        &:before,
        &:after {
            width: $size * $del-invert-zoom;
        }
    }
}