@charset 'utf-8';

@mixin setDeleteStyle(
    $name: '',
    $color: $del-color
) {
    .v-del#{$name} {
        &:before,
        &:after {
            border-color: $color;
        }
    }

    .v-del#{$name}.v-invert {
        background-color: $color;

        &:before,
        &:after {
            border-color: lighten($color, 50%);
        }
    }
}

@mixin setDeleteSize(
    $name: '',
    $size: $del-size
) {
    .v-del#{$name} {
        height: $size;

        &,
        &:before,
        &:after {
            width: $size;
        }
    }
    
    .v-del#{$name}.v-invert {
        &:before,
        &:after {
            width: $size * $del-invert-zoom;
        }
    }
}