@charset "utf-8";
.switch{
	display: inline-block;
	position: relative;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	line-height: normal;
	outline:none;
	overflow:visible;
	transition: all .5s;
	&:before {
		content: '';
		display: block;
		width: $switch-height - $switch-control-gap * 2;
		height: $switch-height - $switch-control-gap * 2;
		position: absolute;
		top: $switch-control-gap;
		right: $switch-control-gap;
	}
	>.switch-on-label {
		padding-left: $switch-control-gap * 4;
	}
	>.switch-off-label, &.use-off >.switch-on-label {
		display: none;
	}
	&.use-radius:before {
		border-radius: $border-radius;
	}
	&.use-pill:before {
		border-radius: 10000px;
	}
	// off
	&.use-off{
		border-width: 0;
		>.switch-off-label {
			display: block;
			padding-right: $switch-control-gap * 4;
		}
		&:before {
			left: $switch-control-gap;
			right: auto !important;
		}
	}
}