@charset "utf-8";
.slider {
	&, &.use-rules:before, &:after, >.slider-active {
		display: block;
		position: relative;
	}
}
.slider, .slider >.slider-active >span {
	height: $slider-height;
}
.slider {
	&.use-rules:before, &:after, >.slider-active{
		height: $slider-height / 10;
		position: absolute;
		top: ($slider-height - $slider-height / 10)/2;
		left: 0;
	}
	&.use-rules:before, &:after{
		content: '';
		right: 0;
		background-color: $slider-bgc;
	}
}