@charset 'utf-8';

@mixin setBadgeStyle(
    $name: '',
    $bg: $badge-background-color,
    $color: $badge-color
) {
    .v-badge#{$name} {
        background-color: $bg;
        color: $color;
    }
}

@mixin setBadgeSize(
    $name: '',
    $font-size: nth($badge-font-size, 3)
) {
    .v-badge#{$name},
    .v-badges#{$name} > .v-badge {
        font-size: $font-size;
    }
}