@charset 'utf-8';

.v-badge {
    display: inline-block; // IE9
    vertical-align: middle;
    position: relative;
    height: $badge-height;

    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    line-height: $line-height;
    border-radius: $border-radius;
    padding-left: $badge-padding-hor;
    padding-right: $badge-padding-hor;
    font-weight: 500;
}
