@charset 'utf-8';

@mixin setTableSize(
    $name: '',
    $font-size: nth($table-size, 4)
) {
    .v-table#{$name} {
        >thead >tr >th,
        >tbody >tr >td {
            font-size: $font-size;
        }
    }
}
