@charset 'utf-8';

.v-table {
    border-collapse: collapse;

    >thead >tr >th,
    >tbody >tr >td {
        text-align: left;
        border-bottom: $table-cell-border;
        padding: $table-cell-padding;
    }

    >thead >tr >th {
        border-bottom-width: $table-header-border-bottom-width;
        color: $table-header-color;
        font-weight: 500;
    }
}
