@charset "utf-8";
@mixin set-switch-size(
	$name: '',								// 类名
	$height: $switch-height,				// 高度
	$minWidth: $switch-default-width,		// 最小寬度
	$fontSize: $switch-font-size			// 字体大小
){
	.switch#{$name} {
		min-width: $minWidth;
		height: $height;
		line-height: $height;
		&:before {
			width: $height - $switch-control-gap * 2;
			height: $height - $switch-control-gap * 2;
		}
		>.switch-on-label, >.switch-off-label {
			font-size: $fontSize;
		}
		>.switch-on-label {
			padding-right: $height + $switch-control-gap;
		}
		&.use-off >.switch-off-label {
			padding-left: $height + $switch-control-gap;
		}
	}
}