.tabs.use-button{
	border-bottom: none;
	>li {
		>a{
			background-color: #f8f8f8;
			margin-bottom: 0;
			border-radius: $border-radius;
		}
		&.use-active >a {
			border: none;
			background-color: $tab-item-actived-border-color;
			color: #fff;
		}
	}
}