.tabs{
	display: block;
	padding: 0;
	border-bottom: solid $tab-border-size $tab-border-color;
	>li{
		display: inline-block;
		vertical-align: bottom;
		>a{
			display: block;
			cursor: pointer;
			text-decoration: none;
			padding: $tab-item-padding;
			font-size: $tab-font-size;
			color: $tab-item-color;
			margin-bottom: -$tab-border-size;
			transition: color .2s;
			&:hover {
				color: $tab-item-actived-color;
			}
		}
		&.use-active >a{
			cursor: default;
			border-bottom: solid $tab-border-size $tab-item-actived-border-color;
			color: $tab-item-actived-color;
		}
		&.use-disabled >a, &.use-disabled >a:hover{
			color: $disabled-color !important;
			cursor: not-allowed;
		}
	}
}