@charset "utf-8";
.pagination.use-border >li{
	>a{
		transition: border-color .2s;
		padding: $pagination-item-padding $pagination-item-padding*2;
	}
	&.use-disabled > a:hover, &.use-disabled.use-active > a:hover, >a{
		border: solid pr(1px) $pagination-item-border-color;
	}
	&:hover > a, &.use-active > a{
		border-color: $c-gray;
	}
	&.use-ellipsis > a{
		z-index: 0;
		border: none;
	}
}