@charset "utf-8";
.pagination.use-gapless {
	font-size: 0;
	padding-left: pr(1px);
	&, >li, >li >a{
		position: relative;
	}
	>li {
		&:hover, &.use-active{
			z-index: 1;
		}
		margin-left: pr(-1px);
	}
	&.use-border >li.use-ellipsis >a {
		border-left: solid pr(1px) $pagination-item-border-color;
		border-right: solid pr(1px) transparent;
	}
}