@charset "utf-8";
.pagination{
	padding: 0;
	margin: $pagination-margin;
	>li{
		display: inline-block;
		vertical-align: top;
		>a{
			display: block;
			padding: $pagination-item-padding;
			color: $pagination-item-color;
			text-decoration: none;
			background-color: #fff;
			font-size: $pagination-item-font-size;
			height: $pagination-item-height;
			line-height: $pagination-item-line-height;
		}
		&:hover > a, &.active > a {
			color: $pagination-item-active-color;
		}
		&.use-disabled > a, &.use-ellipsis > a, &.use-ellipsis > a:hover {
			color: $disabled-color;
			cursor: not-allowed;
		}
		&.use-ellipsis > a {
			cursor: default;
		}
	}
}