@charset "utf-8";
@mixin set-progress-size(
	$height: $progress-height,
	$name: '',
	$fontSize: pr(12px)
){
	.progress#{$name} {
		&, &>.progress-bar {
			height: $height;
			line-height: $height;
			display: inline-block;
		}
	}
}