@charset 'utf-8';

$color_data: (
    primary: $color-primary,
    danger: $color-danger,
    warn: $color-warn,
    info: $color-info,
    success: $color-success,
    success-light: $color-success-light,
    warn-light: $color-warn-light,
    danger-light: $color-danger-light,
    info-light: $color-info-light,
    black: $color-black,
    black-light: $color-black-light,
    black-dark: $color-black-dark,
    steel: $color-steel,
    steel-light: $color-steel-light,
    steel-dark: $color-steel-dark,
    gray: $color-gray,
    gray-light: $color-gray-light,
    gray-dark: $color-gray-dark,
    silver-dark: $color-silver-dark,
    silver: $color-silver,
    white: $color-white
);

@each $name, $color in $color_data {
    @include setBgcAndFontColor($name, $color);
}