@charset "utf-8";
.progress {
	font-size: 0;
	margin: pr(8px) 0;
	// box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08) inset;
	width: 100%;
	background-color: $progress-bgc;
	overflow: hidden;
	>.progress-bar {
		transition: width ease-in-out 0.4s;
		text-align: center;
		background-color: $progress-bar-bgc;
		color: #fff;
		font-size: pr(12px);
	}
}