@charset "utf-8";
.table.use-border {
	border: solid pr(1px) $table-border-color;
}
.table.use-colbar {
	> thead > tr> th,
	> tbody > tr> td{
		border-left: solid pr(1px) $table-border-color;
		&:first-child {
			border-left: none;
		}
	}
}