@charset "utf-8";
@mixin set-close-size($size, $name: '') {
	.close#{$name} {
		width: $size;
		height: $size;
		&:before, &:after {
			width: $size - pr(8px);
			margin-left: -($size - pr(8px))/2;
		}
	}
}