@charset 'utf-8';

h1,h2,h3,h4,h5,h6,
.v-h1,.v-h2,.v-h3,.v-h4,.v-h5,.v-h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: $header-margin-bottom;
    color: $header-color;
}

@each $key, $size in $header-size {
    h#{$key},
    .v-h#{$key} {
        font-size: $size;
    }
}

h1[class*='v-display-'] {
    font-weight: 300;
}

.v-display-4 {
    font-size: 3rem;
}

.v-display-3 {
    font-size: 4rem;
}

.v-display-2 {
    font-size: 5rem;
}

.v-display-1 {
    font-size: 6rem;
}