@charset 'utf-8';
html {
    font: unquote('#{$font-size}/#{$line-height}') $font-family;
}

body{
    background-color: $background-color;
    color: $font-color;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*,
*:active,
*:hover {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

small, p {
    font-size: 87.5%;
}

a {
    text-decoration: none;
    color: $color-primary;
}

img {
    @extend .v-inline-block;
    
    @at-root
    :link &,
    :visited & {
        border: 0;
    }
}

hr {
    @extend .v-block;

    height: 0;
    margin: .875rem 0;
    border: 0;
    border-top: 1px solid #eee;
}

textarea {
    resize: vertical;
}

figure {
    margin: 0;
}

input,
textarea,
a {
    outline: none;
}

p {
    margin: 0 0 .5rem;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: .75rem;
    
    &.v-inline {
        list-style: none;
        padding-left: 0;
        margin-left: -.5rem;
        >li {
            display: inline-block;
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}

dl {
    margin-top: 0;
    margin-bottom: 1.25rem;
    >dt {
        font-weight: 700;
    }
    >dd {
        margin-left: 0;
    }
    &.v-horizontal {
        >dt {
            @extend .v-ellipsis;

            float: left;
            width: 9.5rem;
            text-align: right;
            clear: left;
        }
        >dd {
            margin-left: 11rem;
        }
    }
}

kbd,
code,
pre {
    font-family: 'Consolas';
    line-height: 1;
}

kbd,
code {
    @extend .v-radius;

    padding: .125rem .25rem;
    font-size: 87.5%;
    color: $color-white;
    background-color: $color-black;
}

code {
    background-color: $color-silver;
    color: $color-danger;
}

pre {
    @extend .v-radius;

    display: block;
    padding: .875rem;
    margin: 0 0 .875rem;
    color: $color-black-light;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f8f8f8;
}

blockquote {
    border-left: solid .5rem #eee;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.25rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    footer {
        font-size: .875rem;
        color: $color-steel-light;
        &:before {
            content: '\2014 \00A0'
        }
    }
    &.v-blockquote-right {
        text-align: right;
        border-left: 0;
        border-right: solid .5rem #eee;
        padding-right: 1.25rem;
        padding-left: 0;
        footer {
            &:before {
                content: '';
            }
            &:after {
                content: '\00A0 \2014 '
            }
        }
    }
}

.v-box {
    padding: 1rem;
}