@charset "utf-8";
@mixin set-tooltip-style($name:'', $borderColor:'', $lightBgc:'') {
	.tooltip#{$name},.tooltip#{$name}:before {
		border-color: $borderColor;
	}
	.tooltip#{$name}:not(.use-invert) {
		color: darken($borderColor, 10%);
	}
	.tooltip#{$name}.use-invert, .tooltip#{$name}.use-invert:before {
		background-color: $borderColor !important;
	}
	@if( $lightBgc != '' ) {
		.tooltip#{$name}.use-invert-light, .tooltip#{$name}.use-invert-light:before {
			background-color: $lightBgc !important;
		}
	}
}