@charset 'utf-8';

.v-menu-list {
    list-style: none;
    padding: 0;

    li {
        display: list-item;

        ul {
            padding-left: $menu-list-child-padding-left;
            margin: $menu-list-child-margin;
            border-left: solid 1px $menu-list-child-border-color;
        }
    }

    a {
        @extend .v-block;
        @extend .v-ellipsis;

        color: $menu-list-item-color;
        padding: $menu-list-item-padding;
        border-radius: $border-radius;
        transition: background-color .3s;

        &:not([disabled]):hover,
        &:not([disabled]):focus {
            background-color: $menu-list-item-hover-bgc;
        }

        &:not([disabled]).v-active {
            background-color: $menu-list-item-active-bgc;
            color: $menu-list-item-active-color;
        }
    }

    [disabled] {
        @extend .v-disabled;
    }
}