@charset 'utf-8';

.v-card-header {
    padding: $card-header-padding;
}

.v-card-title {
    margin: $card-title-margin;
    font-size: $card-title-font-size;
}

.v-card-subtitle {
    @extend .v-block;

    margin-top: $card-subtitle-margin-top;
    color: $card-subtitle-color;
}

@media screen and (max-width:768px) {
    .v-card-header {
        padding: 1rem;
    }
}