@charset 'utf-8';

.v-card {
    @extend .v-relative;

    box-shadow: $card-box-shadow;
    margin-bottom: $card-margin-bottom;
    background-color: $card-background-color;
    border-radius: $card-border-radius;
}

.v-card-header~.v-card-body {
    padding-top: 0;
}