@charset 'utf-8';

.v-row-gapless >.v-row {
    margin-bottom: 0;
}

.v-col-gapless >.v-row >[class*='v-col-'] {
    padding-left: 0;
    padding-right: 0;
}

.v-gapless {
    @extend .v-row-gapless;
    @extend .v-col-gapless;
}