@charset 'utf-8';

.v-form-item {
    @include clearFloat();

    display: inline-table;
    table-layout: auto;
    width: 100%;
    padding: $form-item-padding;
    vertical-align: bottom;

    > .v-form-item {
        display: table-cell;
        width: auto;
        padding-top: 0;
        padding-bottom: 0;

        &:last-child {
            padding-right: 0;
        }
    }

    > .v-form-label {
        color: $steel-light;
        display: inline-block;
        padding: $form-label-padding;
    }

    &.v-horizontal > .v-form-label {
        width: $form-label-width;
        vertical-align: middle;
        display: table-cell;
    }
}

@media screen and (max-width: $grid-screen-xs) {
    .v-form-item {
        display: block !important;
        width: 100%;
    }
}