@charset "utf-8";
.btn.btn-shadow{
	box-shadow: 0 pr(2px) $btn-shadow-base 0 rgba(0, 0, 0, 0.14);
	&:not(.use-disabled):not(:disabled):hover, &:focus:not(.use-disabled):not(:disabled):hover{
		box-shadow: 0 ($btn-shadow-base*4) 
		($btn-shadow-base*8) 0 rgba(0,0,0,0.25);
	}
	&:not(.use-disabled):not(:disabled):active, &:focus:not(.use-disabled):not(:disabled):active{
		box-shadow: 0 pr(2px) $btn-shadow-base 0 rgba(0, 0, 0, 0.14);
	}
}
.btn.btn-shadow:not(.use-disabled):not(:disabled):focus{
	box-shadow: 0 pr(2px) $btn-shadow-base 0 rgba(0, 0, 0, 0.14);
}