@charset "utf-8";
.btn-wrap{
	font-size: 0;
	@extend .use-pill;
	display:inline-block;
	padding: pr(14px);
	border: solid pr(1px) $border-color;
	background-color: #f9f9f9;
	background-image: linear-gradient(#f2f2f2, #FFF);
	>.btn{
		margin: 0;
	}
}