@charset 'utf-8';

@mixin setIconSize(
    $name: '',
    $size: ''
) {
    .v-icon#{$name} {
        width: $size;
        height: $size;

        >i {
            font-size: $size;
        }
    }
}