@charset "utf-8";
.use-ribbon-left, .use-ribbon-right, .use-sticker-left, .use-sticker-right {
	@extend .use-relative;
}
.use-ribbon-left:before, .use-ribbon-right:before,
.use-sticker-left:before, .use-sticker-right:before,
.use-sticker-left:after, .use-sticker-right:after
{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
}
.use-ribbon-left, .use-sticker-left{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.use-ribbon-left:before {
	left: 0;
	border-top: ($tag-height/2) solid;
	border-left: ($tag-height/2) solid transparent; 
}
.use-ribbon-right, .use-sticker-right{
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.use-ribbon-right:before {
	right: 0;
	border-top: ($tag-height/2) solid;
	border-right: ($tag-height/2) solid transparent; 
}
