@charset 'utf-8';

@mixin setLayoutAsideSize (
    $name: '',
    $size: nth($layout-aside-size, 4)
) {
    .v-layout#{$name} { 
        > .v-layout-aside {
            width: $size;
        }
        > .v-layout-aside ~ .v-layout-content {
            left: $size;
        }
        > .v-layout-aside + .v-layout-header {
            margin-left: $size;
        }
    }
}
