.navbar {
    .navbar-header{
        float: left;
        padding: ($navbar-height - $navbar-header-navbar-brand-height)/2 1rem;
        line-height: $navbar-header-navbar-brand-height;
        overflow: hidden;
        img{
            max-height: $navbar-header-navbar-brand-height;
        }
    }
}