@charset 'utf-8';

.v-table {
    @extend .v-table.v-normal-size;

    border-collapse: collapse;

    >thead >tr >th,
    >tbody >tr >td {
        @extend .v-left;

        border-bottom: $table-cell-border;
    }

    >thead >tr >th {
        border-bottom-width: $table-header-border-width;
        color: $table-header-color;
        font-weight: 500;
    }
}

@each $key,$item in $sizes {
    $tas: nth($table-adjust-size, $key);

    @include setTableSize(
        nth($item, 1),
        nth($tas, 1) nth($tas, 2),
        nth($tas, 3)
    );
}