@charset 'utf-8';

.v-table.v-col-divider:not(.v-border) {
    >tbody >tr >td {
        border-bottom: none;
    }

    >thead >tr >th,
    >tbody >tr >td {
        border-left: $table-cell-border;
        &:first-child {
            border-left: none;
        }
    }
}