@charset "utf-8";
.close {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	padding: pr(2px);
	border: none;
	cursor: pointer;
	vertical-align: middle;
	&.use-invert{
		border-radius: 50%;
		transition: background-color .3s;
		&:before, &:after {
			border-color: #fff !important;
		}
	}
	&:before, &:after {
		display: block;
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: pr(-1px);
		transition: border-color .3s;
	}
	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(135deg);
	}
}