@charset "utf-8";
.list{
	padding: 0;
	position: relative;
	&, >li{
		display: block;
	}
	>li >a, &.use-static >li{
		padding: pr(10px);
		display: block;
		color: $c-steel;
	}
	>li >a {
		transition: background-color .2s;
		&:hover {
			color: $c-black;
			background-color: #f6f6f6;
		}
	}

	&.use-divider >li, &.use-border >li {
		border-top: solid pr(1px) #eee;
		&:first-child {
			border-top: none;
		}
	}

	&.use-border {
		border: solid pr(1px) #eee;
	}

	>li {
		>.list-item-avantar, >.list-item-avantar img{
			width: pr(40px);
			height: pr(40px);
		}
		>.list-item-avantar {
			position: absolute;
			padding: 0;
			&:hover{
				background-color: transparent;
			}
		}
	}
}