@charset "utf-8";
@mixin set-tag-size(
	$name: '',
	$height: $tag-height,
	$padding: $tag-padding,
	$fontSize: $tag-font-size
) {
	.tag#{$name} {
		padding: $padding;
		font-size: $fontSize;
		line-height: $height;
		height: $height;
		>.sicon, >.sicon img {
			height: $height;
		}
		&.use-ribbon-right:before, &.use-ribbon-left:before {
			top: $height;
		}
		&.use-sticker-left {
			margin-left: $height/2;
		}
		&.use-sticker-right {
			margin-right: $height/2;
		}
		&.use-sticker-left:before, &.use-sticker-right:before {
			border-width: $height/2;
		}
		&.use-sticker-left:before {
			left: - $height;
		}
		&.use-sticker-right:before {
			right: - $height;
		}
	}
}