@charset "utf-8";
@each $cl in ( (xs $grid-sm 18 max '"col-xs-"'), (sm $grid-sm 18 min '"col-sm-"'),
		(md $grid-md 22 min '"col-md-"'), (lg $grid-lg 30 min '"col-lg-"'))
{
	@media ( #{nth($cl, 4)}-width: nth($cl, 2) ) {
		@if( nth($cl, 1) != xs ) {
			.grid.use-responsive{
				width: nth($cl, 2) - nth($cl, 3);
			}
			.grid >.row >[class*=#{nth($cl, 5)}] {
				float: left;
			}
			@for $i from 1 through $grid-columns {
				.col-#{nth($cl, 1)}-#{$i} {
					width:  percentage($i / $grid-columns);
				}
				.col-#{nth($cl, 1)}-offset-#{$i} {
					margin-left:  percentage($i / $grid-columns);
				}
			}
		}
	}
}