@charset 'utf-8';

$sizes: (
    1: '.v-small',
    2: '.v-medium',
    3: '.v-large'
);

$auxiliary: (
    1: '.v-success' $success $success-light,
    2: '.v-danger' $danger $danger-light,
    3: '.v-warn' $warn $warn-light,
    4: '.v-info' $info $info-light
);

$color-maps: (
    'primary':          $primary,
    'danger':           $danger,
    'warn':             $warn,
    'info':             $info,
    'success':          $success,
    'success-light':    $success-light,
    'warn-light':       $warn-light,
    'danger-light':     $danger-light,
    'info-light':       $info-light,
    'black':            $black,
    'black-light':      $black-light,
    'black-dark':       $black-dark,
    'steel':            $steel,
    'steel-light':      $steel-light,
    'steel-dark':       $steel-dark,
    'gray':             $gray,
    'gray-light':       $gray-light,
    'gray-dark':        $gray-dark,
    'silver-dark':      $silver-dark,
    'silver':           $silver,
    'white':            $white
);

$resposive-maps: (
    xs  $grid-screen-xs $grid-gap,
    sm  $grid-screen-sm $grid-gap,
    md  $grid-screen-md $grid-gap,
    lg  $grid-screen-lg $grid-gap
);

$directions: '', '-top', '-right', '-bottom', '-left';

$shadows-top-data: (
	(0 torem(2px) torem(10px) rgba(0, 0, 0, 0.12)),
	(0 torem(7px) torem(21px) rgba(0, 0, 0, 0.19)),
	(0 torem(17px) torem(49px) rgba(0, 0, 0, 0.19)),
	(0 torem(25px) torem(56px) rgba(0, 0, 0, 0.21)),
	(0 torem(42px) torem(77px) rgba(0, 0, 0, 0.22))
);

$shadows-bottom-data: (
	(0 torem(2px) torem(5px) rgba(0, 0, 0, 0.16)),
	(0 torem(7px) torem(17px) rgba(0, 0, 0, 0.20)),
	(0 torem(12px) torem(15px) rgba(0, 0, 0, 0.24)),
	(0 torem(16px) torem(28px) rgba(0, 0, 0, 0.22)),
	(0 torem(28px) torem(35px) rgba(0, 0, 0, 0.20))
);