@charset 'utf-8';

// color
// =============================================
$primary:           #00b1f9 !default;

$danger:            #ff5b69 !default;
$warn:              #ffb13d !default;
$info:              #18daf1 !default;
$success:           #33d690 !default;

$success-light:     #f1ffef !default;
$warn-light:        #fffaef !default;
$danger-light:      #fef0ef !default;
$info-light:        #edfcfc !default;

$black:             #3a4156 !default;
$black-light:       #4e5773 !default;
$black-dark:        #020202 !default;

$steel:             #7e869e !default;
$steel-light:       #9097ae !default;
$steel-dark:        #6a728c !default;

$gray:              #b3bad2 !default;
$gray-light:        #ccd2e5 !default;
$gray-dark:         #9fa7c1 !default;

$silver-dark:       #e7ebf7 !default;
$silver:            #f4f6fc !default;
$white:             #ffffff !default;

// global
// =============================================
$line-height: 1.5 !default;
$background-color: #fff !default;
$font-size: 16px !default;
$font-color: $black-light;
$font-family: 
    ProximaNova,
    BlinkMacSystemFont,
    "Microsoft Yahei",
    "Helvetica Neue", 
    "Segoe UI",
    Roboto,
    Tahoma,
    Arial,
    sans-serif;

// border
$border-color: $silver-dark;
$border-radius: 3px;

// header (h1 ~ h6)
$header-size: 2.5rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 1rem;

// v-display-* (*: 1 ~ 4)
$header-display-size: 6rem, 5rem, 4rem, 3rem;

// layout
// =============================================
$layout-header-height: 3.75rem;
// aside(small, medium, large, default, narrow)
$layout-aside-size: 12rem, 20rem, 24rem, 16rem, 4rem;

// card
// =============================================
$card-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
$card-margin: 0 0 2rem;
$card-background-color: #fff;

$card-header-padding: 1.5rem;
$card-title-margin: 0;
$card-title-font-size: 1.125rem;
$card-subtitle-color: $steel-light;
$card-subtitle-margin-top: .5rem;
$card-subtitle-font-size: .875rem;

$card-body-padding: $card-header-padding;

// menu
// =============================================
$menu-label-color: $steel-light;
$menu-label-font-size: .75rem;
$menu-label-margin-bottom: .75rem;

$menu-list-item-padding: .375rem .75rem;
$menu-list-item-color: $black-light;
$menu-list-item-font-size: .875rem;
$menu-list-item-hover-bgc: $silver-dark;
$menu-list-item-active-bgc: $primary;
$menu-list-item-active-color: #fff;

$menu-list-child-padding-left: .75rem;
$menu-list-child-margin: .5rem .75rem;
$menu-list-child-border-color: #e9e9e9;

// grid
// =============================================
$grid-total-column: 12;
$grid-gap: 1rem;
$grid-rows-margin-bottom: $grid-gap;
$grid-screen-xs: 768px !default;
$grid-screen-sm: 1024px !default;
$grid-screen-md: 1280px !default;
$grid-screen-lg: 1440px !default;

// badge
// =============================================
$badge-padding-hor: .5rem;
$badge-height: 1.5em;
$badge-background-color: $silver-dark;
$badge-color: $steel;
// medium, large, default
$badge-size: 1rem, 1.25rem, .875rem;

// delete
// =============================================
$del-color: $steel-light;
// small, medium, large, default
$del-size: 1rem, 1.5rem, 2rem, 1.25rem;
$del-circle-bgc: rgba(0,0,0,.3);

// icon
// =============================================
$icon-adjust-size: 1rem, 1.5rem, 2rem, 2.5rem;
$icon-line-height: 1;

// table
// =============================================
$table-background-color: $white;

$table-header-border-bottom-width: 3px;
$table-header-color: $steel;
$table-header-background-color: $silver;

$table-cell-border: 1px solid $silver-dark;
$table-cell-color: $black;
$table-cell-padding-hor: .5rem;
$table-cell-height: 2.75em;

// small medium large default
$table-size: .75rem, 1.25rem, 1.5rem, .875rem;

// article
// =============================================
$article-padding: 3rem;

$article-header-font-size: 1.5rem;
$article-header-margin-bottom: .75rem;
$article-header-color: $black;

$article-meta-font-size: .875rem;
$article-meta-margin-bottom: .75rem;
$article-meta-color: $steel-light;

$article-body-padding: .75rem;
$article-body-font-size: .875rem;


// button & input
// =============================================
// small, medium, large, default
$bi-size: .75rem, 1rem, 1.25rem, .875rem;

$bi-padding-ver: calc(.5em - 1px);
$bi-padding-hor: .8em;
$bi-height: 2.5em;
$bi-color: $steel-dark;
$bi-border-color: #dbdbdb;
$bi-background-color: $white;

// form
// =============================================
$form-select-padding-right: 2em;
$form-item-padding: .4rem 1rem .4rem 0;
$form-label-padding: .25rem .875rem .25rem 0;
$form-label-width: 5rem; // enabled in .v-form-inline

// tooltip
// =============================================
$tooltip-trangle-size: .625rem;
$tooltip-padding: .5rem .625rem;
$tooltip-color: $white;
$tooltip-bgc-color: $black-light;
$tooltip-box-shadow: 1px 1px .5rem rgba(0,0,0,0.3);

// tag
// =============================================
$ribbon-bgc: $primary;
$ribbon-color: $white;
// small,medium,large,default
$ribbon-size: .75rem, 1rem, 1.25rem, 1rem;

// 
// =============================================


// 
// =============================================


// 
// =============================================


// 
// =============================================


// 
// =============================================


// 
// =============================================