@charset "utf-8";
.hover-block, .hover-inline-block, .hover-inline, .use-hover:hover .hover-hidden{
	display: none !important;
}
.use-hover:hover {
	.hover-block {
		display: block !important;
	}
	.hover-inline {
		display: inline !important;
	}
	.hover-inline-block {
		display: inline-block !important;
	}
}