@charset "utf-8";

// 设置Layout Slidebar		宽度
// @param  {} $width    	宽度
// @param  {} $clsName		类名称，默认为空(重置当前宽度)
// @return {}

@mixin set-slidebar-width($width, $clsName: '') {
	.layout#{$clsName} >.layout-slidebar {
		width: $width;
	}
	#{$clsName}.layout-slidebar-covered.layout-slidebar-pull-left >.layout-slidebar~.layout-header,
	#{$clsName}.layout-slidebar-pull-left >.layout-content,
	#{$clsName}.layout-slidebar-pull-left >.layout-slidebar~.layout-footer
	{
		margin-left: $width;
	}
	#{$clsName}.layout-slidebar-covered.layout-slidebar-pull-right >.layout-slidebar~.layout-header,
	#{$clsName}.layout-slidebar-pull-right >.layout-content,
	#{$clsName}.layout-slidebar-pull-right >.layout-slidebar~.layout-footer
	{
		margin-right: $width;
	}
}