@charset 'utf-8';

.v-ribbon-left,
.v-ribbon-right {
    position: absolute;
}

.v-ribbon-left {
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
}

.v-ribbon-right {
    box-shadow: -2px 2px 3px rgba(0,0,0,.1);
}

.v-ribbon-left:before,
.v-ribbon-right:before {
    content: '';
    display: inline-block;
    font-size: inherit;
    border: solid $tag-height / 5 transparent;
    top: $tag-height;
    position: absolute;
}

.v-ribbon-left {
    left: -($tag-height / 5 * 2);
    &:before {
        left: 0;
    }
}

.v-ribbon-right {
    right: -($tag-height / 5 * 2);
    &:before {
        right: 0;
    }
}
