@charset 'utf-8';

.v-sticker-left:before,
.v-sticker-right:before,
.v-sticker-left:after,
.v-sticker-right:after {
    content: '';
    display: inline-block;
    font-size: inherit;
    border: solid $tag-height / 2 transparent;
    top: 0;
    position: absolute;
}

.v-sticker-left {
    margin-left: $tag-height / 2;
}
.v-sticker-right {
    margin-right: $tag-height / 2;
}
.v-sticker-left:before {
    left: -$tag-height;
}
.v-sticker-right:before {
    right: -$tag-height;
}

.v-sticker-left:after,
.v-sticker-right:after {
    border-width: $tag-height / 10;
    border-color: $white;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}

.v-sticker-left:after {
    left: -($tag-height / 5);
}

.v-sticker-right:after {
    right: -($tag-height / 5);
}