@charset "utf-8";
.tooltip {
	background-color: $tooltip-bgc-color;
	padding: $tooltip-padding;
	border:solid $tooltip-border-size $tooltip-border-color;
	display: inline-block;
	box-shadow: $tooltip-box-shadow;
	position: absolute;
	color: $tooltip-color;
	z-index: 6666;
	&:before {
		content: '';
		display: block;
		position: absolute;
		border: solid $tooltip-border-size $tooltip-border-color;
		background-color: $tooltip-bgc-color;
		width: $tooltip-trangle-size;
		height: $tooltip-trangle-size;
		transform: rotate(45deg);
		z-index: 2;
	}
	&.use-left-top, &.use-left-center, &.use-left-bottom {
		margin-left: $tooltip-trangle-size/2;
		&:before {
			left: -$tooltip-trangle-size/2;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
		}
	}
	&.use-right-top, &.use-right-center, &.use-right-bottom {
		&:before {
			right: -$tooltip-trangle-size/2;
			border-left-color: transparent !important;
			border-bottom-color: transparent !important;
		}
		margin-right: $tooltip-trangle-size/2;
	}
	&.use-left-top, &.use-right-top {
		&:before {
			top: $tooltip-trangle-size;
		}
	}
	&.use-left-center, &.use-right-center {
		&:before {
			top: 50%;
			margin-top: -$tooltip-trangle-size/2;
		}
	}
	&.use-left-bottom, &.use-right-bottom {
		&:before {
			bottom: $tooltip-trangle-size;
		}
	}

	&.use-top-left, &.use-top-center, &.use-top-right {
		&:before {
			top: -$tooltip-trangle-size/2;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
		}
		margin-top: $tooltip-trangle-size/2;
	}
	&.use-bottom-left, &.use-bottom-center, &.use-bottom-right {
		&:before {
			bottom: -$tooltip-trangle-size/2;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
		}
		margin-bottom: $tooltip-trangle-size/2;
	}
	&.use-top-left, &.use-bottom-left {
		&:before {
			left: $tooltip-trangle-size;
		}
	}
	&.use-top-center, &.use-bottom-center {
		&:before {
			left: 50%;
			margin-left: -$tooltip-trangle-size/2;
		}
	}
	&.use-top-right, &.use-bottom-right {
		&:before {
			right: $tooltip-trangle-size;
		}
	}
	
	&.use-invert {
		color: $tooltip-invert-color;
	}
	&.use-invert, &.use-invert:before {
		background-color: $tooltip-invert-bgc !important;
		border: none  !important;
	}
	&.use-invert-light, &.use-invert-light:before {
		background-color: $tooltip-invert-light-bgc !important;
	}
}