@charset 'utf-8';

.v-tab {
	display: block;
	padding: 0;
    border-bottom: solid $tab-border-width $tab-border-color;
	
	li, a {
		font-size: $font-size;
		color: $tab-item-color;
	}
	
	>li {
        position: relative;
		display: inline-block;
		vertical-align: bottom;
		text-decoration: none;
		padding: $tab-item-padding;

		&.v-active,
		&.v-active a {
			color: $tab-item-actived-color;
		}
		
		&:not([disabled]):after {
			content: '';
			position: absolute;
			display: block;
			width: 0%;
			left: 50%;
			bottom: -$tab-border-width;
			border-bottom: solid $tab-border-width transparent;
			transition: all .4s;
		}

		&.v-active:after,
		&:not([disabled]):hover:after {
			border-bottom-color: $tab-item-actived-color;
			left: 0;
			width: 100%;
		}
	}
}
