@charset "utf-8";
.alert{
	background-color: $alert-bgc;
	padding: $alert-padding;
	overflow: hidden;
	position: relative;
	>.close{
		position: absolute;
		right: pr(14px);
		top: pr(14px);
		~p{
			padding-right: pr(28px);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}