@charset 'utf-8';

@mixin setBtnStyle (
    $name: '',
    $bgc: '',
    $color: '',
    $border-color: '',
    $bgc-hover: '',
    $bgc-active: '',
    $color-hover: '',
    $color-active: '',
    $border-color-hover: '',
    $border-color-active: ''
) {
    .v-btn#{$name} {
        background-color: $bgc;
        color: $color;
        border-color: $border-color;

        &:hover {
            @if ($bgc-hover != '') {
                background-color: $bgc-hover;
            }
            @if ($color-hover != '') {
                color: $color-hover;
            }
            @if ($border-color-hover != '') {
                border-color: $border-color-hover;
            }
        }

        &:active {
            @if ($bgc-active != '') {
                background-color: $bgc-active;
            }
            @if ($color-active != '') {
                color: $color-active;
            }
            @if ($border-color-active != '') {
                border-color: $border-color-active;
            }
        }
    }
}

@mixin setBtnSize (
    $name: '',
    $padding: $btn-padding,
    $font-size: $btn-font-size
) {
    .v-btn#{$name} {
        padding: $padding;
        font-size: $font-size;
    }
}