@charset 'utf-8';

.v-btn {
    @extend .v-inline-block;
    @extend .v-top;
    @extend .v-nowrap;
    @extend .v-flex-inline;
    @extend .v-flex-middle;
    @extend .v-btn.v-normal-size;

    border-radius: $border-radius;
    border: solid 1px;
    line-height: $line-height;
    cursor: pointer;
    user-select: none;
    transition: border-color .2s, background-color .2s;
}