@charset 'utf-8';

// default
@include setBtnStyle(
    '',
    $btn-background-color,
    $btn-color,
    $btn-border-color,
    '', '',
    $btn-hover-color,
    '',
    $btn-hover-border-color,
    $btn-active-border-color
);

@each $key, $item in $auxiliary-styles {
    $bgc: nth($item, 2);
    @include setBtnStyle(
        nth($item, 1),
        $bgc,
        $color-white,
        $bgc,
        lighten($bgc, 10%),
        darken($bgc, 5%),
        '', '',
        lighten($bgc, 10%),
        darken($bgc, 5%)
    );
}

$expand-btn-styles: (
    1: ('.v-black' $color-black $color-white),
    2: ('.v-dark' $color-steel $color-white),
    3: ('.v-white' $color-white $color-steel)
);

@each $key, $item in $expand-btn-styles {
    $bgc: nth($item, 2);
    @include setBtnStyle(
        nth($item, 1),
        $bgc,
        nth($item, 3),
        $bgc,
        lighten($bgc, 10%),
        darken($bgc, 5%),
        darken(nth($item, 3), 5%),
        '',
        lighten($bgc, 10%),
        darken($bgc, 5%)
    );
}