@charset 'utf-8';

.v-article-meta {
    @extend .v-block;

    font-size: $article-meta-font-size;
    margin-bottom: $article-meta-margin-bottom;
    margin-top: -.5rem;
    color: $article-meta-color;
}
