@charset 'utf-8';

.v-del {
    @include setOpacity(7);
    position: relative;
    display: inline-block;
    transition: opacity .1s;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 0;

    &:before,
    &:after {
        content: '';
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: $del-color;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
        width: 100%;
        height: 2px;
    }

    &:after {
        height: 100%;
        width: 2px;
    }

    &:hover {
        @include setOpacity(8);
    }

    &:active {
        @include setOpacity(10);
    }
}
