@charset "utf-8";
.form-addons {
	font-size: 0;
	padding-left: $form-input-border-size;
	&.use-pill >.form-ctrl{
		&:first-child {
			.btn, .input{
				border-radius: 10000px 0 0 10000px;
			}
		}
		&:last-child {
			.btn, .input{
				border-radius: 0 10000px 10000px 0;
			}
		}
	}
	&.use-radius >.form-ctrl{
		&:first-child {
			.btn, .input{
				border-radius: $border-radius 0 0 $border-radius;
			}
		}
		&:last-child {
			.btn, .input{
				border-radius: 0 $border-radius $border-radius 0;
			}
		}
	}
	>.form-ctrl {
		display: inline-block;
		vertical-align: top;
		margin-left: - $form-input-border-size;
		>.btn:hover,>.input:hover {
			z-index: 2;
		}
		>.input:focus {
			z-index: 3;
		}
	}
}