@charset "utf-8";
.checkbox[disabled], .radio[disabled], .input[disabled],
.radio > input[disabled] ~ span,.checkbox > input[disabled] ~ span{
	cursor: not-allowed;
	opacity: .6;
}
.input[disabled] {
	background-color: $disabled-bgc;
	color: $disabled-color;
}
