@charset "utf-8";
.form-inline {
	@extend .use-clear;
	>.form-label, >.form-ctrl {
		display: inline-block;
		vertical-align: middle;
	}
	>.form-label {
		padding-right: $form-label-inline-padding-right;
	}
}