@charset "utf-8";
.select {
	position: relative;
	display: inline-block;
	vertical-align: top;
	select {
		-moz-appearance:none;
		-webkit-appearance:none;
		position: relative;
		z-index: 1;
		cursor: pointer;
		background-color: transparent;
	}
	&:after {
		content: '';
		z-index: 0;
		display: block;
		border: solid pr(1px) $form-input-hover-border-color;
		border-right: 0;
		border-top: 0;
		position: absolute;
		top: 50%;
		pointer-events: none;
		transform: rotate(-45deg) translateY(-100%);
	}
}