@charset 'utf-8';
// color
// =============================================
$color-main-tone: #2eb3ff;

$color-danger: #f44336;
$color-warn: #ffab40;
$color-info: #21baf3;
$color-success: #32c787;

$color-success-light: #f1ffef;
$color-warn-light: #fffaef;
$color-danger-light: #fef0ef;
$color-info-light: #edfcfc;

$color-black: #3a4156;
$color-black-light: #4e5773;
$color-black-dark: #222735;

$color-steel: #7e869e;
$color-steel-light: #9097ae;
$color-steel-dark: #6a728c;

$color-gray: #b2b6c6;
$color-gray-light: #ccd1e1;
$color-gray-dark: #a2a7b8;

$color-silver-dark: #e8ebef;
$color-silver: #f2f2f2;
$color-white: #fff;

// font
// =============================================
$font-size: 14px;
$line-height: 1.5;
$font-color: $color-black-light;
$font-family: ProximaNova,
    BlinkMacSystemFont,
    "Microsoft Yahei",
    "Helvetica Neue", 
    "Segoe UI",
    Roboto,
    Tahoma,
    Arial,
    sans-serif;

// border
// =============================================
$border-color: $color-silver-dark;
$border-radius: torem(4px);

// 
// =============================================

// 
// =============================================

// 
// =============================================

// 
// =============================================

// 
// =============================================

// 
// =============================================

// 
// =============================================

// 
// =============================================

// 
// =============================================