@charset "utf-8";
.comment, .comment-item {
	@extend .use-clear;
	display: block;
	position: relative;
}
.comment-item {
	margin: $comment-item-margin;
	transition: background-color 0.2s;
	&.comment-primary{
		background-color: $comment-item-primary-color;
	}
	padding: $comment-item-padding;
	>.comment-avantar, >.comment-avantar img {
		width: $comment-avantar-width;
		height: $comment-avantar-height;
	}
	>.comment-avantar{
		position: absolute;
		text-align: center;
	}
	>.comment-header {
		margin-left: $comment-avantar-width + pr(14px);
		min-height: $comment-avantar-height;
		>.comment-title {
			margin: $comment-title-margin;
			font-size: $comment-title-font-size;
		}
		>.comment-meta {
			color: $comment-meta-color;
			margin-bottom: 0;
		}
	}
	>.comment-body {
		padding: $comment-body-padding;
		color: $comment-body-color;
	}
	>.comment {
		padding-left: $comment-avantar-width;
		>.comment-item {
			padding-right: 0 !important;
		}
		>.comment-item:last-child {
			padding-bottom: 0;
		}
	}
}

.body-offset{
	.comment-header{
		min-height: auto;
	}
	.comment-body{
		margin-left: $comment-avantar-width + pr(14px);
	}
}

.header-inline{
	.comment-header{
		>.comment-title, >.comment-meta {
			display: inline-block;
		}
		>.comment-meta{
			margin-left: pr(14px);
		}
	}
}