@charset 'utf-8';

.v-pill {
    border-radius: 100000px!important;
}

.v-radius {
    border-radius: $border-radius!important;
}

.v-circle {
    border-radius: 50%!important;
}

.v-thumb {
    @extend .v-radius;
    padding: .25rem;
    border:solid 1px $border-color;
    background-color: $white;
}
