@charset 'utf-8';

.v-bold {
    font-weight: 700!important;
}

.v-left {
    text-align: left!important;
}

.v-center {
    text-align: center!important;
}

.v-right {
    text-align: right!important;
}

.v-top {
    vertical-align: top!important;
}

.v-baseline {
    vertical-align: baseline!important;
}

.v-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.v-overflow-hidden {
    overflow: hidden!important;
}

.v-justify {
    text-align: justify;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.v-nowrap {
    white-space: nowrap!important;
}

.v-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-capitalize {
    text-transform: capitalize!important;
}

.v-lowercase {
    text-transform: lowercase!important;
}

.v-uppercase {
    text-transform: uppercase!important;
}

.v-lead {
    color: $black-dark;
    font-size: 1.142858em;
    font-weight: 500;
}
