@charset 'utf-8';

@mixin setBadgeStyle(
    $name: '',
    $bg: $badge-background-color,
    $color: $badge-color
) {
    .v-badge#{$name} {
        background-color: $bg;
        color: $color;
    }
}

@mixin setBadgeSize(
    $name,
    $height,
    $fontSize
) {
    .v-badge#{$name} {
        height: $height;
        font-size: $fontSize;
    }
}