@charset 'utf-8';

.v-badge {
    @extend .v-nowrap;
    @extend .v-relative;
    @extend .v-inline-block;
    @extend .v-badge.v-normal-size;

    line-height: $badge-line-height;
    padding: $badge-padding;
    border-radius: $badge-border-radius;
    font-weight: 500;

    &, & .v-del {
        @extend .v-top;
    }

    & .v-del,
    & .v-del.v-invert {
        &:before,
        &:after {
            border-color: $badge-color;
        }
    }
}

@include setBadgeStyle();

@each $key, $item in $auxiliary-styles {
    @include setBadgeStyle(nth($item, 1), nth($item, 2));
}

// size
@each $key, $item in $sizes {
    @if (nth($item, 1) != '.v-small') {
        @include setBadgeSize(
            nth($item, 1),
            nth($badge-adjust-size, $key),
            nth($item, 2)
        );
    }
}