@charset 'utf-8';

.v-badge {
    @extend .v-nowrap;
    @extend .v-relative;
    @extend .v-inline-block;
    @extend .v-top;
    @extend .v-badge.v-normal-size;
    @extend .v-flex-inline;
    @extend .v-flex-middle;
    @extend .v-flex-center;

    line-height: $line-height;
    border-radius: $border-radius;
    padding: $badge-padding;
    font-weight: 500;
}
