[class*='circle-']{
	@extend .use-center;
	@extend .use-circle;
	display: inline-block;
	vertical-align:top;
}
$circle-size-list: (pr(5px),pr(10px),pr(15px),pr(20px),pr(25px),pr(30px),pr(35px),
	pr(40px),pr(45px),pr(50px),pr(55px),pr(60px));

@for $i from 1 through length($circle-size-list) {
	.circle-#{$i * 5} {
		width: nth($circle-size-list, $i) !important;
		height: nth($circle-size-list, $i) !important;
	}
}