$colorMap: (
	'main': $c-main,
	'danger': $c-danger,
	'warn': $c-warn,
	'info': $c-info,
	'success': $c-success,
	'success-light': $c-success-light,
	'warn-light': $c-warn-light,
	'danger-light': $c-danger-light,
	'info-light': $c-info-light,
	'black-light': $c-black-light,
	'black': $c-black,
	'black-dark': $c-black-dark,
	'steel-light': $c-steel-light,
	'steel': $c-steel,
	'steel-dark': $c-steel-dark,
	'gray-light': $c-gray-light,
	'gray': $c-gray,
	'gray-dark': $c-gray-dark,
	'silver-dark': $c-silver-dark,
	'silver': $c-silver,
	'white': $c-white
);

@each $key,$val in $colorMap {
  .text-#{$key} {
    color: #{$val} !important;
  }
  .bgc-#{$key} {
    background-color: #{$val} !important;
  }
}