h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin-bottom: pr(10px);
	margin-top: pr(21px);
	line-height: 1;
}
@for $i from 1 through 6 {
	h#{$i} {
		font-size: nth($header-size, $i);
		@if $i > 3 {
			margin-top: pr(10px);
		}
	}
}