@charset "utf-8";
// box-sizing
*, *:before, *:after {
  box-sizing: border-box !important;
}
*, *:active, *:hover {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}
html {
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;
}
// 移除多个相同元素之间的空隙
// 比如多个img重上到下排列时，上下产生的间隙
audio, canvas, iframe, img, svg, video, .btn {
  vertical-align: middle;
}
a{
  color: $c-main;
  text-decoration: none;
  &:hover {
    color: darken($c-main, 10%);
  }
}
img {
  @at-root :link &, :visited & {
    border: 0;
  }
}
img.use-responsive, .thumb img{
  max-width: 100%;
  height: auto;
}
hr {
  height: 0;
  display: block;
  margin: pr(14px) 0;
  border: 0;
  border-top: pr(1px) solid #eee;
}
textarea {
  resize: vertical;
}
figure {
  margin: 0;
}
input, textarea, a {
  outline: none;
}
p {
  margin: 0 0 pr(7px);
}
ul, ol{
  margin-top: 0;
  margin-bottom: pr(10px);
  &.list-inline{
    list-style: none;
    padding-left: 0;
    margin-left: pr(-7px);
    >li{
      display: inline-block;
      @include pad-hor(pr(7px));
    }
  }
}
dl{
  margin-top:0;
  margin-bottom: pr(21px);
  >dt{
    font-weight: bold;
  }
  >dd{
    margin-left: 0;
  }
  &.dl-horizontal{
    >dt{
      float: left;
      width: pr(154px);
      @extend .use-ellipsis;
      text-align: right;
      clear: left;
    }
    >dd{
      margin-left: pr(182px);
    }
  }
}
kbd,code,pre{
  font-family: 'Consolas';
  line-height: $line-height;
}
kbd, code{
  padding: pr(2px) pr(4px);
  font-size: 96%;
  @extend .use-radius;
  line-height: 1;
  color: $c-white;
  background-color: $c-black;
}
code {
  background-color: $c-silver;
  color: $c-danger;
}
pre{
  display: block;
  padding: pr(14px);
  margin: 0 0 pr(14px);
  color: $c-black-light;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f8f8f8;
  @extend .use-radius;
}
blockquote{
  border-left: solid pr(7px) #eee;
  margin-left: 0;
  margin-right: 0;
  padding-left: pr(21px);
  padding-bottom: pr(7px);
  font-size: pr(16px);
  footer {
    font-size: pr(14px);
    color: $c-steel-light;
    &:before {
      content: '\2014 \00A0'
    }
  }
  &.blockquote-right {
    text-align: right;
    border-left: 0;
    border-right: solid pr(7px) #eee;
    padding-right: pr(21px);
    padding-left: 0;
    footer {
      &:before{
        content: '';
      }
      &:after {
        content: '\00A0 \2014 '
      }
    }
  }
}

// 
.thumb {
  padding: pr(4px);
  border:solid pr(1px) $border-color;
  background-color: $c-white;
  @extend .use-radius;
}
.covered {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mask {
  @extend .opacity-3;
  @extend .covered;
  z-index: 999;
  background-color: #000;
  transition: all 0.4s;
}

// Tools
.use-hide{
  display: none!important;
}
.use-block, .use-inline, .use-inline-block {
  vertical-align: top;
}
.use-block {
  display: block!important;
}
.use-inline {
  display: inline!important;
}
.use-inline-block {
  display: inline-block!important;
}
.use-invisible {
  visibility:hidden !important;
}
.use-bold {
  font-weight: bold !important;
}
.use-clear {
  @include clearfix;
}
.use-left {
  text-align: left !important;
}
.use-right {
  text-align: right !important;
}
.use-justify {
  text-align: justify !important;
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
}
.use-center {
  text-align: center !important;
}
.use-nowrap{
  white-space: nowrap!important;
}
.use-pull-left {
  float: left!important;
}
.use-pull-right {
  float: right!important;
}
.use-ellipsis {
  @extend .use-nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.use-capitalize {
  text-transform: capitalize;
}
.use-lowercase{
  text-transform: lowercase;
} 
.use-uppercase {
  text-transform: uppercase;
}
.use-pill {
  border-radius: 10000px !important;
}
.use-radius {
  border-radius: $border-radius !important;
}
.use-circle {
  border-radius: 50%;
}
.use-fullwidth {
  width: 100% !important;
}
.use-absolute {
  position: absolute !important;
}
.use-relative {
  position: relative !important;
}
.use-fixed {
  position: fixed !important;
  z-index: 9999;
}