$shadows-top-list: (
	(0 pr(2px) pr(10px) rgba(0, 0, 0, 0.12)),
	(0 pr(7px) pr(21px) rgba(0, 0, 0, 0.19)),
	(0 pr(17px) pr(49px) rgba(0, 0, 0, 0.19)),
	(0 pr(25px) pr(56px) rgba(0, 0, 0, 0.21)),
	(0 pr(42px) pr(77px) rgba(0, 0, 0, 0.22))
);
$shadows-bottom-list: (
	(0 pr(2px) pr(5px) rgba(0, 0, 0, 0.16)),
	(0 pr(7px) pr(17px) rgba(0, 0, 0, 0.20)),
	(0 pr(12px) pr(15px) rgba(0, 0, 0, 0.24)),
	(0 pr(16px) pr(28px) rgba(0, 0, 0, 0.22)),
	(0 pr(28px) pr(35px) rgba(0, 0, 0, 0.20))
);

[class*='z-depth-'] {
	transition: box-shadow 0.3s;
}

@for $i from 1 through length($shadows-top-list) {
	@each $gdv in ("-bottom", "-top", "") {
		.z-depth-#{$i}#{$gdv} {
			@if $gdv == "-bottom" {
				box-shadow: nth($shadows-bottom-list, $i);
			}
			@elseif $gdv == "-top" {
				box-shadow: nth($shadows-top-list, $i);
			}
			@else {
				box-shadow: nth($shadows-top-list, $i), nth($shadows-bottom-list, $i);
			}
		}
	}
}