@charset 'utf-8';

.v-layout-content {
    @extend .v-absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .v-layout-header~& {
        top: $layout-header-height;
    }

    .v-layout-aside~& {
        left: $layout-aside-width;
    }
}