@charset 'utf-8';

.v-layout {
    @extend .v-layout.v-normal-size;

    position: relative;
    height: 100%;
}

@media screen and (max-width:786px) {
    .v-layout-aside {
        display: none;
    }
    .v-layout.v-normal-size .v-layout-aside ~ .v-layout-content,
    .v-layout .v-layout-aside ~ .v-layout-content {
        left: 0 !important;
    }
}