@charset 'utf-8';

.v-layout-header {
    @extend .v-fixed;

    top: 0;
    left: 0;
    z-index: 10;
    height: $layout-header-height;
    background-color: $layout-header-background-color;
    padding-left: $layout-header-padding-left;
    padding-right: $layout-header-padding-right;
}

.v-layout-header, .v-layout-header-ctx {
    width: 100%;
}

.v-layout-header-ctx {
    @extend .v-middle;
}