@charset 'utf-8';

.slidebar {
    @extend .v-fixed;

    overflow: auto;

    width: $layout-slidebar-width;
    height: 100%;
    padding-top: $layout-slidebar-padding-top;
    padding-left: $layout-slidebar-padding-left;
    padding-right: $layout-slidebar-padding-right;
    background-color: $layout-slidebar-background-color;
}