@charset 'utf-8';

.v-hide {
    display: none;
}

.v-block {
    display: block;
}

.v-inline {
    display: inline;
}

.v-inline-block {
    display: inline-block;
}

.v-invisible {
    visibility: hidden;
}

.v-flex-inline {
    display: inline-flex;
}

.v-flex {
    display: flex;
}

.v-flex-middle {
    align-items: center;
}

.v-flex-center {
    justify-content: center;
}
