@charset 'utf-8';

.v-hide {
    display: none;
}

.v-block {
    display: block;
}

.v-inline {
    display: inline;
}

.v-inline-block {
    display: inline-block;
}

.v-invisible {
    visibility: hidden;
}