@charset 'utf-8';

.v-hide {
    display: none !important;
}

.v-block {
    display: block !important;
}

.v-inline {
    display: inline !important;
}

.v-inline-block {
    display: inline-block !important;
}

.v-invisible {
    visibility: hidden !important;
}