@charset 'utf-8';

.v-bold {
    font-weight: 700;
}

.v-left {
    text-align: left;
}

.v-center {
    text-align: center;
}

.v-middle {
    @extend .v-relative;
    
    top: 50%;
    transform: translateY(-50%);
}

.v-right {
    text-align: right;
}

.v-justify {
    text-align: justify;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
        overflow: hidden;
    }
}

.v-nowrap {
    white-space: nowrap;
}

.v-ellipsis {
    @extend .v-nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.v-capitalize {
    text-transform: capitalize;
}

.v-lowercase {
    text-transform: lowercase;
}

.v-uppercase {
    text-transform: uppercase;
}